<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header>
    <h1><%= name %></h1>
    <p class="fs-5 col-md-8"><%- description %></p>
    <a role="button" class="btn btn-warning" href="<%= updateUrl %>">Edit</a>
    <a role="button" class="btn btn-danger" href="<%= deleteUrl %>">Delete</a>
  </header>

  <hr class="col-3 col-md-2 mb-5" />
</div>
