<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <main class="px-4">
      <header>
        <h1><%= title %></h1>
      </header>
      
      <form action="" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name" required="true">
        </div>
        <div class="mb-3">
          <label for="website" class="form-label">website url:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="URL" name="website">
        </div>
        <div class="mb-3">
          <label for="about" class="form-label">about:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="about the developer" required="true"></textarea>
        </div>  
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
    </main>

    <footer class="pt-5 my-5 text-muted border-top">
      Created by the Bootstrap team &middot; &copy; 2021
    </footer>
  </body>
</html>
