<nav class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="/catalog/games" class="nav-link">Video Games</a>
      </li>
      <li class="nav-item">
        <a href="/catalog" class="nav-link">Categories</a>
      </li>
    </ul>
  </header>
</nav>
